<div id="<%= dom_id student %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= student.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Surname:</strong>
    <%= student.surname %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= student.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Socialmedia:</strong>
    <%= student.socialmedia %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Active:</strong>
    <%= student.active %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Since:</strong>
    <%= student.since %>
  </p>

</div>
