<div id="<%= dom_id teacher %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= teacher.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Surname:</strong>
    <%= teacher.surname %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= teacher.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Socialmedia:</strong>
    <%= teacher.socialmedia %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Active:</strong>
    <%= teacher.active %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Since:</strong>
    <%= teacher.since %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Access code:</strong>
    <%= teacher.access_code %>
  </p>

</div>
